/*.flex{*/
/*    display: flex !important;*/
/*}*/

.slider-for {
    width: 60%;
    height: 586px
}
.slider-nav {
    width: 100%;
    height: 12.5vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22px 7.5%
}
/*.slick-slide {*/
/*    margin: 0 10px*/
/*}*/
/*.slick-list {*/
/*    margin: 0 -10px;*/
/*    margin-right: -20px*/
/*}*/

.slider-for__item, .slider-nav__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%
}
.slider-for__item img, .slider-nav__item img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.slider-for .slick-list, .slider-for .slick-track, .slider-nav .slick-list, .slider-nav .slick-track {
    height: 100%
}
.main__slider .slick-next, .main__slider .slick-prev, .slider-for .slick-next, .slider-for .slick-prev {
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 22px;
    color: #fff
}
.main__slider .slick-next, .main__slider .slick-prev {
    width: 6%
}
.main__slider .slick-next i, .main__slider .slick-prev i {
    margin-top: 90px
}
.main__slider .slick-next.no-rotate, .slider-for .slick-next.no-rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.main__slider .slick-next, .slider-for .slick-next {
    right: 0;
    left: auto
}
.slider-for .slick-next:hover, .slider-for .slick-prev:hover {
    background-color: rgba(0, 0, 0, .3)
}
.main__slider .slick-next:hover, .main__slider .slick-prev:hover {
    background-color: rgba(0, 0, 0, .3)
}
.slider-nav__item {
    opacity: .6;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}
.slider-nav__item:hover {
    opacity: 1
}
.slider-nav__item.slick-slide {
    max-width: 300px
}
.slider-nav__item.slick-current {
    border-bottom: 3px solid #d8b257!important;
    opacity: 1
}

.spec__card{
    background-position: center;
    background-size: cover;
    height: 30rem;
}
.main__first__block{
    background-position: center;
    background-size: cover;
    height: 30rem;
}

.inner__box__shadow{
    -webkit-box-shadow: 100px 2px 56px -8px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 100px 2px 56px -8px rgba(0, 0, 0, 1) inset;
    box-shadow: 25rem 2px 56px -8px rgba(37, 41, 45, 0.7) inset;

}

.slick-slider {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
}

.bg__cover {
    background-position: center;
    background-size: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    min-width: 150px;
    z-index: 1;
}


.dropdown:hover .dropdown-content {display: block;}

