@tailwind components;
@tailwind base;
@tailwind utilities;

.ck-editor__editable {
    font-size: 1.4em;
    height: 300px;
}

.ck-editor__editable p {
    margin: 0;
}

.ant-list-item-extra {
    margin-left: 0 !important;
}

.ant-list {
    margin-top: 10px !important;
}

.news-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
}

.news-preview-first {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    hyphens: auto;
}